# Clerk publishable key (from Clerk dashboard -> API Keys)
WXT_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxx

# Clerk Frontend API host/url (NOT your own backend API)
# Example:
WXT_CLERK_FRONTEND_API=https://fitted-stallion-00.clerk.accounts.dev
# WXT_CLERK_FRONTEND_API=
